<sprint
    number="$ctrl.number"
    stories="$ctrl.stories"
    burned="$ctrl.burnedPoints"
    on-mark-done="$ctrl.finishStory"
>
</sprint>

<notification-component message="$ctrl.notification"></notification-component>


<ol>
    <li ng-repeat="step in $ctrl.steps"></li>
</ol>

<section>
    {{$ctrl.currentStep}}
    {{$ctrl.stepIndex}}
</section>

<button ng-click="$ctrl.nextStep()">Next</button>


<div id="pLifeEventsSeparateAppNavigator" class="panel panel-bordered" name="pLifeEventsSeparateAppNavigator">
    <div class="panel-heading l-p-0 ng-scope">
        <div class="pagination-wrapper pagination-steps-wrapper pagination-steps-wrapper-a">
            <ol class="pagination pagination-steps pagination-steps-a">
                <li class="pagination-item" ng-class="{'active':$ctrl.stepIndex === 0}">
                    <span class="pagination-element">
                        <span class="pagination-type ">1</span>
                        <span class="pagination-text ">Adres invullen</span>
                        <span class="arrow pagination-arrow"></span>
                    </span>
                </li>
                <li class="pagination-item"  ng-class="{'active':$ctrl.stepIndex === 1}">
                    <span class="pagination-element">
                        <span class="pagination-type ">2</span>
                        <span class="pagination-text ">Controleren</span>
                        <span class="arrow pagination-arrow"></span>
                    </span>
                </li>

            </ol>

            <div class="pagination-complete" ng-class="{'active':$ctrl.stepIndex === 2}">
                <div class="pagination-complete-item">
                    <span aria-hidden="true" class="icon"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body ng-scope" ng-switch="" on="currentStepId">


        <div class="ng-scope">
            <div class="row">
                <div class="col-lg-9" id="addressState">
                    <!-- ngIf: addressState.hasFutureAddress || addressState.error --></div>
            </div><!-- ngIf: addressState.hasAddress && !addressState.error -->
            <div class="l-mb-1 ng-scope"><span
                id="currentAddress"
                class="h-bold ng-binding">Huidig adres: Von Zesenstraat 4 b 3, 1093AW AMSTERDAM</span><br></div>
            <div on="data.countryIsoCode"><!-- ngSwitchWhen: NL -->
                <div class="ng-scope">
                    <div ng-form="postalCodeValidationGroup"
                         class="validation-group ng-scope groupvalid ng-dirty ng-valid-ing-required ng-valid ng-valid-ing-dutch-zipcode"
                         ng-class=" { 'has-error' : showError , 'has-warning': showWarning &amp;&amp; !showError, groupvalid : !showError &amp;&amp; !showWarning } "
                         ing-validation-group="" name="postalCodeValidationGroup" id="postalCodeValidationGroup"
                         setstate="false">
                        <div>
                            <div class="form-group"
                                 >
                                <div class="control-label ng-scope col-lg-3">
                                    <label
                                     for="postalCodeNL" class="ng-binding ng-scope">Postcode</label>
                                    </div>

                                <div ing-form-grid-field="" class="ng-scope col-lg-6">
                                    <div class="row ng-scope">
                                        <div class="col-lg-4"><input ing-required="" ing-dutch-zipcode=""
                                                                     name="postalCodeNL" id="postalCodeNL"
                                                                     ng-model="data.nl.postalCode"
                                                                     class="form-control ng-dirty ng-valid-ing-required ng-valid ng-valid-ing-dutch-zipcode"
                                                                     data-com.agilebits.onepassword.user-edited="yes">
                                        </div>
                                    </div>


                                </div></div>
                        </div>
                    </div>
                    <div ng-form="houseNumberAndHouseNumberAdditionValidationGroup"
                         class="validation-group ng-scope groupvalid ng-dirty ng-valid-ing-user-pattern ng-valid ng-valid-ing-required"
                         ng-class=" { 'has-error' : showError , 'has-warning': showWarning &amp;&amp; !showError, groupvalid : !showError &amp;&amp; !showWarning } "
                         ing-validation-group="" name="houseNumberAndHouseNumberAdditionValidationGroup"
                         id="houseNumberAndHouseNumberAdditionValidationGroup" setstate="false">
                        <div>
                            <div class="form-group ng-scope ng-isolate-scope" ing-form-row=""
                                 id="houseNumberAndHouseNumberAdditionControlGroup" label="Huisnummer en toevoeging"
                                 for="postalCodeNL"><!-- ngIf: label -->
                                <div ing-form-grid-label="" class="control-label ng-scope col-lg-3">
                                    <!-- ngIf: !for && !infoPopover --><!-- ngIf: for && !infoPopover --><label
                                     for="postalCodeNL" class="ng-binding ng-scope">Huisnummer
                                    en toevoeging</label><!-- end ngIf: for && !infoPopover -->
                                    <!-- ngIf: infoPopover --></div><!-- end ngIf: label --><!-- ngIf: label -->
                                <div ing-form-grid-field="" class="ng-scope col-lg-6">
                                    <div class="row ng-scope">
                                        <div class="col-lg-3"><input name="houseNumberNL" id="houseNumberNL"
                                                                     class="form-control ng-dirty ng-valid-ing-user-pattern ng-valid ng-valid-ing-required"
                                                                     ng-model="data.nl.houseNumber" size="5"
                                                                     maxlength="5" ing-required=""
                                                                     ing-user-pattern="^(\d+)$"
                                                                     data-com.agilebits.onepassword.user-edited="yes">
                                        </div>
                                        <div class="col-lg-3"><input name="houseNumberAdditionNL"
                                                                     id="houseNumberAdditionNL"
                                                                     class="form-control ng-valid ng-valid-ing-user-pattern ng-dirty"
                                                                     ng-model="data.nl.houseNumberAddition" size="4"
                                                                     maxlength="4"
                                                                     ing-user-pattern="^[A-Za-z0-9ÄÅÇÉÑÖßÜåâäàáéêëèçïíîñòóôöúùüûø \&quot;&amp;\u0027()+,\-./\\_~]*$"
                                                                     data-com.agilebits.onepassword.user-edited="yes">
                                        </div>
                                        <div class="col-lg-4"><input type="button" class="btn btn-default"
                                                                     ng-click="resolveAddress()" value="Adres ophalen">
                                        </div>
                                    </div>
                                    <div ng-show="showError" ing-notify="" on-element="houseNumberNL"
                                         validate="ingRequired" class="ng-scope ng-hide">
                                        <div
                                            ng-class="{alert: !inValidationGroup, 'alert-inline': !inValidationGroup &amp;&amp; !block,'help-block message': inValidationGroup, 'alert-transparent':unboxed, 'alert-danger':boxClass=='error' &amp;&amp; !inValidationGroup, 'alert-warning':boxClass=='warning' &amp;&amp; !inValidationGroup, 'alert-info':boxClass=='info' &amp;&amp; !inValidationGroup, 'alert-success':boxClass=='success' &amp;&amp; !inValidationGroup}"
                                            role="alert" ng-show="showNotification" ing-notification="" type="ERROR"
                                            class="ng-scope ng-isolate-scope help-block message"><span
                                            class="stacked-icon icon-lg"><i aria-hidden="true"
                                                                            class="icon icon-notification-error-z1 icon-red"></i><i
                                            aria-hidden="true"
                                            class="icon icon-white icon-notification-error-z2"></i></span>
                                            <!-- ngIf: closeable --><span><span
                                                ng-bind-html="errorMessages.MSG_FuncValSingle_HouseNumberInvalidCharacters.message"
                                                class="ng-binding ng-scope">Vul een huisnummer in dat alleen uit cijfers bestaat.</span></span>
                                        </div>
                                    </div>
                                    <div ng-show="showError" ing-notify="" on-element="houseNumberNL"
                                         validate="ingUserPattern" class="ng-scope ng-hide">
                                        <div
                                            ng-class="{alert: !inValidationGroup, 'alert-inline': !inValidationGroup &amp;&amp; !block,'help-block message': inValidationGroup, 'alert-transparent':unboxed, 'alert-danger':boxClass=='error' &amp;&amp; !inValidationGroup, 'alert-warning':boxClass=='warning' &amp;&amp; !inValidationGroup, 'alert-info':boxClass=='info' &amp;&amp; !inValidationGroup, 'alert-success':boxClass=='success' &amp;&amp; !inValidationGroup}"
                                            role="alert" ng-show="showNotification" ing-notification="" type="ERROR"
                                            class="ng-scope ng-isolate-scope help-block message"><span
                                            class="stacked-icon icon-lg"><i aria-hidden="true"
                                                                            class="icon icon-notification-error-z1 icon-red"></i><i
                                            aria-hidden="true"
                                            class="icon icon-white icon-notification-error-z2"></i></span>
                                            <!-- ngIf: closeable --><span><span
                                                ng-bind-html="errorMessages.MSG_FuncValSingle_HouseNumberInvalidCharacters.message"
                                                class="ng-binding ng-scope">Vul een huisnummer in dat alleen uit cijfers bestaat.</span></span>
                                        </div>
                                    </div>
                                    <div ng-show="showError" ing-notify=""
                                         on-element="houseNumberAdditionNL" validate="ingUserPattern"
                                         class="ng-scope ng-hide">
                                        <div
                                            ng-class="{alert: !inValidationGroup, 'alert-inline': !inValidationGroup &amp;&amp; !block,'help-block message': inValidationGroup, 'alert-transparent':unboxed, 'alert-danger':boxClass=='error' &amp;&amp; !inValidationGroup, 'alert-warning':boxClass=='warning' &amp;&amp; !inValidationGroup, 'alert-info':boxClass=='info' &amp;&amp; !inValidationGroup, 'alert-success':boxClass=='success' &amp;&amp; !inValidationGroup}"
                                            role="alert" ng-show="showNotification" ing-notification="" type="ERROR"
                                            class="ng-scope ng-isolate-scope help-block message"><span
                                            class="stacked-icon icon-lg"><i aria-hidden="true"
                                                                            class="icon icon-notification-error-z1 icon-red"></i><i
                                            aria-hidden="true"
                                            class="icon icon-white icon-notification-error-z2"></i></span>
                                            <!-- ngIf: closeable --><span><span
                                                ng-bind-html="errorMessages.MSG_FuncValSingle_HouseNumberAdditionInvalidCharacters.message"
                                                class="ng-binding ng-scope">Gebruik alleen letters en cijfers bij het invullen van de toevoeging.</span></span>
                                        </div>
                                    </div>
                                </div><!-- end ngIf: label --><!-- ngIf: !label --></div>
                        </div>
                    </div><!-- ngIf: showAdditionalAddressLineInput() === true -->
                    <div class="form-group ng-isolate-scope" ing-control-group="" id="resolvedAddressControlGroup"
                         label="Adres"><label class="control-label col-md-3 ng-binding">Adres</label>
                        <div class="col-md-9">
                            <div ng-switch="" on="data.nl.resolvedAddressStatus" class="read-only-value ng-scope">
                                <!-- ngSwitchWhen: 0 --><!-- ngSwitchWhen: 1 --><!-- ngSwitchWhen: 2 -->
                                <!-- ngSwitchWhen: 3 -->
                                <div ng-switch-when="3" class="ng-scope">
                                    <div class="panel">
                                        <div
                                            ng-class="{alert: !inValidationGroup, 'alert-inline': !inValidationGroup &amp;&amp; !block,'help-block message': inValidationGroup, 'alert-transparent':unboxed, 'alert-danger':boxClass=='error' &amp;&amp; !inValidationGroup, 'alert-warning':boxClass=='warning' &amp;&amp; !inValidationGroup, 'alert-info':boxClass=='info' &amp;&amp; !inValidationGroup, 'alert-success':boxClass=='success' &amp;&amp; !inValidationGroup}"
                                            role="alert" ng-show="showNotification" ing-notification="" type="WARNING"
                                            class="ng-isolate-scope alert alert-inline alert-warning"><span
                                            class="stacked-icon icon-lg"><i aria-hidden="true"
                                                                            class="icon icon-notification-warning-z1 icon-orange"></i><i
                                            aria-hidden="true" class="icon icon-white icon-notification-warning-z2"></i></span>
                                            <!-- ngIf: closeable --><span><span
                                                ng-bind-html="errorMessages.MSG_Func_NoAddressFoundForPostalCodeAndHouseNumber.message"
                                                class="ng-binding ng-scope">We herkennen de combinatie van postcode en huisnummer niet.<br>Probeer het opnieuw. Of neem contact op met de ING: 020 22 888 88.</span></span>
                                        </div>
                                    </div>
                                </div><!-- ngSwitchWhen: 4 --><!-- ngSwitchWhen: 5 -->
                                <div><!-- ngIf: showAdditionalAddressLineInput() === false --><span
                                    ng-if="showAdditionalAddressLineInput() === false" class="ng-scope"><a href=""
                                                                                                           ng-click="enableAdditionalAddressLine()"
                                                                                                           id="showAdditionalAddressLine"
                                                                                                           class="btn btn-default icon-position icon-before icon-position-md ng-binding">Adresregel
                                    toevoegen <i class="icon icon-plus icon-orange" aria-hidden="true"></i></a></span>
                                    <!-- end ngIf: showAdditionalAddressLineInput() === false --></div>
                            </div>
                        </div>
                    </div>
                </div></div>
            </div>

        <div class="l-mt-n3 l-mb-2 row l-p-2 ng-scope" ing-navigator-footer="">
            <div class="col-lg-3">    <!-- ngIf: hasPrevious -->  </div>
            <div class="col-lg-9">    <!-- ngIf: hasNext -->
                <button type="button"
                        class="btn btn-primary icon-position icon-after icon-position-lg ng-binding ng-scope"
                        ng-click="goToNext()"><i class="icon icon-arrow-g-right icon-lg"
                                                 aria-hidden="true"></i> Volgende
                </button><!-- end ngIf: hasNext -->  </div>
        </div>
    </div>
