

<div class="form-horizontal form-text-only ng-scope ng-pristine ng-valid">
    <div class="h-bold ng-binding">Adres</div>
    <div class="form-text-only form-group" id="newAddressControlGroup">
        <div class="control-label ng-scope col-lg-3">
            <span>Uw nieuwe adres</span>
        </div>
        <div  class="ng-scope col-lg-6">
            <div class="form-control-static ng-scope"><div
                on="address.countryIsoCode">
                <div>
                    {{$ctrl.address.street}} {{$ctrl.address.houseNumber}} {{$ctrl.address.houseNumberAddition}}<br>
                    {{$ctrl.address.postalCode}} {{$ctrl.address.city}}
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="form-text-only form-group ng-isolate-scope" id="navigateToStep1">
        <div ng-if="!label" ing-form-grid-offset=""
             class="ng-scope col-lg-offset-3 col-lg-6">
            <div class="form-control-static ng-scope">
                <ul class="list-icons list-linklist">
                    <li><a ng-click="$ctrl.onChangeAddress()" href="" class="ng-binding">Wijzigen</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="l-mb-2 row l-p-2">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-9">
        <button type="button"
                class="btn btn-primary icon-position icon-after icon-position-lg "
                ng-click="$ctrl.onNextStep()"><i class="icon icon-arrow-g-right icon-lg"
                                               aria-hidden="true"></i> Volgende
        </button>
    </div>
</div>
